<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skin 1</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="index.php">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="author.php">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-5 align-center">
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto my-5">

      <h1 class="text-center pt-3">Input Author</h1>
      <form action="author.php" method="POST">
        <div class="form-row">
          <div class="form-group mt-3">
            <label for="tname">Nama Author</label>
            <div class="d-flex">
              <input type="text" class="form-control" name="tname" required />
              <button type="submit" name="add" class="btn btn-primary" style="margin-left: 20px;">Add</button>
            </div>
          </div>
        </div>

      </form>

    </div>
    <h1 class="text-center">Tabel Author</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
      <table class="table table-info table-stripped" border="1">
        <tr>
          <td>ID</td>
          <td>Nama Author</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
        DATA_TABEL
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>