<!DOCTYPE html>
<html lang="en">

<head>
  <title>Skin 1</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class=" z-40 sticky top-0 text-gray-600 body-font bg-white">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
        <div class=" text-lg ml-3 text-blue-900"><a class="font-semibold" href="./index.html">Beauty Class</a></div>
      </a>
      <nav  class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-blue-400" href="./index.html">Home</a>
        <a class="mr-5 hover:text-blue-400" href="./project.html">Divisi</a>
        <a class="mr-5 hover:text-blue-400" href="./about.html">Bidang</a>
      </nav>
      <div class="flex mr-7 border-2 inline-flex items-center rounded-lg overflow-hidden mt-4 md:mt-0">
        <button class="py-1 px-4 bg-red-400 hover:bg-red-500 text-white focus:outline-none"><a href="./login.html">Add Panitia</a></button>
      </div>
    </div>
  </header>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chichen Itza</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>